#############################
#### Mailgun API secrets ####
#############################

export MAILGUN_API_KEY=xxx
# The api domain, you can use the sandbox domain in your account.
export MAILGUN_API_DOMAIN=xxx
export MAILGUN_TO=xxx
export MAILGUN_REGION=xxx # us/eu

#############################
#### Porkbun API secrets ####
#############################

export PORKBUN_SECRET_API_KEY=xxx
export PORKBUN_API_KEY=xxx

############################
#### Bitwarden secrets. ####
############################

export BWS_ACCESS_TOKEN=xxx
export BWS_PROJECT_ID=xxx
export BWS_PRIVATEKEY_ID=xxx 
export BWS_PRIVATEKEY_KEY=xxx
export BWS_FULLCHAIN_ID=xxx
export BWS_FULLCHAIN_KEY=xxx
